<h1>Create Course</h1>

<%= form_with model: @course do |form| %>
  <% if @course.errors.any? %>
    <%= render 'errors', course: @course %>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit "Create Course" %>
  </div>
<% end %>
